<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hospital Arenas Raffo</title>
    <link rel="shortcut icon" href="static/img/Cardiaca.jpg" type="image/x-icon">
    <link rel="stylesheet" href="static/css/estilos.css">
    <link rel="stylesheet" href="static/css/MenuFlex.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
</head>

<body>

    <header>
            <nav class="navv">
                <div class="logo"><img class="logo" src="static/img/vida.png" alt=""></div>
                <ul class="menu">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#Administration">Administración</a></li>
                    <li><a href="#Horarios">Horarios</a></li>
                    <li><a href="#Atención">Profesionales   </a></li>
                    <li><a href="#Novedades">Novedades</a></li>
                    <li><a href="/covid">COVID-19</a></li>
                </ul>
            </nav>
        <section class="textos-header">
            <h1>Hospital Arenas Raffo</h1>
            <h2>"Tu Salud, Nuestra Prioridad"</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo" id="Administration">Administración</h2>
            <div class="contenedor-Administración">
                <img src="img/ilustracion2.svg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <center>
                        <h2>Directos Ejecutivo</h2>
                        <h4>Dr Patricio Contrera.</h4>
                        <br>
                        <h2>Mesa de Entrada</h2>
                        <h4>Solicitar turnos 
                            7:00 a 18:00
                        </h4>
                    </center>
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo" id="Horarios">Horarios</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="static/img/odontologia.jpeg" alt="">
                        <div class="hover-galeria">
                            <img class="Hora" src="static/img/Horarios.png" alt="">
                            <p><b>Odontología</b></p>
                            <hr>
                            <p>Lunes a Viernes</p>
                            <hr>
                            <p>09:00 a 11:00</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/Pediatria.jpeg" alt="">
                        <div class="hover-galeria">
                            <img class="Hora" src="static/img/Horarios.png" alt="">
                            <p><b>Pediatria</b></p>
                            <hr>
                            <p>Lunes a Viernes</p>
                            <hr>
                            <p>11:00 a 12:00</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/radiologia.jpeg" alt="">
                        <div class="hover-galeria">
                            <img class="Hora" src="static/img/Horarios.png" alt="">
                            <p><b>Radiología</b></p>
                            <hr>
                            <p>Lunes a Viernes</p>
                            <hr>
                            <p>16:00 a 18:00</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/RyK.jpg" alt="">
                        <div class="hover-galeria">
                            <img class="Hora" src="static/img/Horarios.png" alt="">
                            <p><b>Kinesiología y Fisioterapia</b></p>
                            <hr>
                            <p>Lunes a Viernes, exepto jueves</p>
                            <hr>
                            <p>08:00 a 12:00</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/guardia.jpeg" alt="">
                        <div class="hover-galeria">
                            <img class="Hora" src="static/img/Horarios.png" alt="">
                            <p><b>Guardia</b></p>
                            <hr>
                            <p>Lunes a Viernes</p>
                            <hr>
                            <p>09:00 a 13:00</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/farmacia.jpeg" alt="">
                        <div class="hover-galeria">
                            <img class="Hora" src="static/img/Horarios.png" alt="">
                            <p><b>Farmacia</b></p>
                            <hr>
                            <p>Lunes a Viernes</p>
                            <hr>
                            <p>09:00 a 13:00</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/logo2.jpeg" alt="">
                        <div class="hover-galeria">
                            <img class="Hora" src="static/img/Horarios.png" alt="">
                            <p><b>Vacunatorio</b></p>
                            <hr>
                            <p>Lunes a Viernes</p>
                            <hr>
                            <p>09:00 a 13:00</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/consultorio.jpeg" alt="">
                        <div class="hover-galeria">
                            <img class="Hora" src="static/img/Horarios.png" alt="">
                            <p><b>Consultorio externo</b></p>
                            <hr>
                            <p>Lunes a Viernes</p>
                            <hr>
                            <p>24 hs</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientes contenedor">
            <h2 class="titulo" id="Atención">Profesionales</h2>
            <div class="cards">
                <div class="card">
                    <img src="static/img/odontologia.jpeg" alt="">
                    <div class="contenido-texto-card">
                        <h4 class="content">Odontología</h4>
                        <p>Dr. Cagnolo</p>
                    </div>
                </div>
                <div class="card">
                    <img src="static/img/Pediatria.jpeg" alt="">
                    <div class="contenido-texto-card">
                        <h4 class="content">Pediatría</h4>
                        <p>Dra. Martinez</p>
                    </div>
                </div>
        </section>
        <section class="clientes contenedor">
            <div class="cards">
                <div class="card">
                    <img src="static/img/radiologia.jpeg" alt="">
                    <div class="contenido-texto-card">
                        <h4 class="content">Radiología</h4>
                        <p>Dra. Neira - Dra. Videla</p>
                    </div>
                </div>
                <div class="card">
                    <img src="static/img/farmacia.jpeg" alt="">
                    <div class="contenido-texto-card">
                        <h4 class="content">Farmacia</h4>
                        <p>Dra. Maria Cáceres</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientes contenedor">
            <div class="cards">
                <div class="card">
                    <img src="static/img/guardia.jpeg" alt="">
                    <div class="contenido-texto-card">
                        <h4 class="content">Guardia</h4>
                        <p>Dra. Da Riva - Dr. Castro - Dr. Suarez - Dr. Panza - Dra. Lezcano - Dr. Ortiz</p>
                    </div>
                </div>
                <div class="card">
                    <img src="static/img/RyK.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4 class="content">Kinesiología y Fisioterapia</h4>
                        <p>Lic. Cueto</p>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo" id="Novedades">Novedades</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="static/img/materna.jpg" alt="">
                        <h3>Proteger la lactancia materna: responsabilidad compartida</h3>
                        <p>A comienzos de agosto celebramos esta semana para promover, proteger y apoyar la lactancia materna.</p>
                        <a class="Leer" href="http://laweb.com" target="_blank">Leer Mas</a>
                    </div>
                    <div class="servicio-ind">
                        <img src="static/img/cancer.jpg" alt="">
                        <h3>Cáncer de mama: una lucha que nos une</h3>
                        <p>Este mes tiene como objetivo sensibilizar y concientizar a la sociedad de que podemos hacerle frente a esta patología.</p>
                        <a class="Leer" href="http://laweb.com" target="_blank">Leer Mas</a>
                    </div>
                    <div class="servicio-ind">
                        <img src="static/img/cervical.jpg" alt="">
                        <h3>El dolor cervical y la terapia física</h3>
                        <p>Ante el dolor cervical, especialistas en terapia física comentan cómo abordan esta patología.</p>
                        <br>
                        <a class="Leer" href="#">Leer Mas</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer">
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>8296312</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>hospitalarenasraffo@gmail.com.ar</p>
            </div>
            <div class="content-foo">
                <h4>Dirección</h4>
                <p>Santa Rosa</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Mendoza Futuro | Santa Rosa</h2>
    </footer>
    <div class="scroll">

    </div>
    <script src="{{ url_for('static', filename='js/menu.js')}}"></script>

</body>

</html>